In [6]:
import pandas as pd

1. Crie um DataFrame que tenha 3 colunas: Produto |
Quantidade | Preço. Como valores, tenha duas linhas
com os seguintes valores na primeira linha: Chocolate |
200 | 3,00. Na segunda linha os valores: Banana | 80 |
0,50

In [7]:
df = pd.DataFrame({
    'Produto': ['Chocolate', 'Banana'],
    'Quantidade': [200, 80],
    'Preço': [3.00, 0.50]
})

df

     Produto  Quantidade  Preço
0  Chocolate         200    3.0
1     Banana          80    0.5

2. Crie uma Serie que contenha o total dos produtos:
Quantidade*Preço, ou seja, com os seguintes valores
600, 40.

In [8]:
serie = pd.Series([df['Quantidade'][i]*df['Preço'][i] for i in range(len(df))])

serie

0    600.0
1     40.0
dtype: float64

3. Salve o dataframe criado no Exercício 1 em um arquivo csv chamado
vendas.csv

In [ ]:
df.to_csv('vendas.csv', index=False)

4. Considerando o Data Frame do Exercício 1, escreva os atributos/métodos para:
    - Descrever os nomes das colunas
    - Calcular a correlação das variáveis
    - Mostrar a soma de valores
    - Mostrar a média dos valores
    - O que o método df.describe() faz?

In [9]:
df.columns

Index(['Produto', 'Quantidade', 'Preço'], dtype='object')

In [11]:
df.corr(numeric_only=True)

            Quantidade  Preço
Quantidade         1.0    1.0
Preço              1.0    1.0

In [12]:
df.sum(numeric_only=True)

Quantidade    280.0
Preço           3.5
dtype: float64

In [13]:
df.mean(numeric_only=True)

Quantidade    140.00
Preço           1.75
dtype: float64

In [14]:
df.describe()

       Quantidade     Preço
count    2.000000  2.000000
mean   140.000000  1.750000
std     84.852814  1.767767
min     80.000000  0.500000
25%    110.000000  1.125000
50%    140.000000  1.750000
75%    170.000000  2.375000
max    200.000000  3.000000

O método `df.describe()` gerou estatísticas descritivas das colunas numéricas, como contagem, média, desvio padrão, valores mínimo e máximo, além dos percentis (25%, 50%, 75%).

5. Para o dataset de admissoes (ipea_admissoes_caged.csv), gere seus
sumários e responda às seguintes perguntas:
    - Qual a soma de valores de admissoes?
    - Qual a diferença entre o resultado de sum() e cumsum() ?
    - Qual o valor mínimo de admissões?
    - Qual a maior data?
    - Qual a média de admissoes?
    - Qual a mediana de admissoes?
    - Qual o desvio padrão de admissoes?

In [ ]:
df2 = pd.read_csv('../../data/raw/ipea_admissoes_caged.csv')

df2

        Data  Admissoes
0    1999.05     732704
1    1999.06     731238
2    1999.07     685905
3    1999.08     690144
4    1999.09     698632
..       ...        ...
233  2018.10    1279502
234  2018.11    1189414
235  2018.12     961145
236  2019.01    1325183
237  2019.02    1453284

[238 rows x 2 columns]

In [ ]:
df2['Admissoes'].sum()

np.int64(293184157)

In [20]:
df2.sum(), df2.cumsum()

(Data         4.780975e+05
 Admissoes    2.931842e+08
 dtype: float64,
           Data  Admissoes
 0      1999.05     732704
 1      3998.11    1463942
 2      5997.18    2149847
 3      7996.26    2839991
 4      9995.35    3538623
 ..         ...        ...
 233  470023.27  288255131
 234  472041.38  289444545
 235  474059.50  290405690
 236  476078.51  291730873
 237  478097.53  293184157

 [238 rows x 2 columns])

.sum() retorna a soma total dos valores da tabela, .cumsum() retorna a soma acumulada a cada linha do dataframe.

In [21]:
df2['Admissoes'].min()

np.int64(547526)

In [22]:
df2['Data'].max()

np.float64(2019.02)

In [24]:
df2['Admissoes'].describe()

count    2.380000e+02
mean     1.231866e+06
std      3.576978e+05
min      5.475260e+05
25%      9.121972e+05
50%      1.201186e+06
75%      1.503070e+06
max      1.989181e+06
Name: Admissoes, dtype: float64